@import "bulma/bulma.sass";
@import '@fortawesome/fontawesome-free/css/all.css';

// Website Color vars
:root {
    --white: #f8f8f8;
    --navy-blue-dark: #0a192f;
    --navy-blue: #00051F;
    --navy-blue-light: #0e3564;
    --navy-blue-lighter: #17518b;
    --dark-blue: #1218c5;
}

html {
    background-color: var(--navy-blue);
    overflow-y: auto;
}

/* ScrollBar */
// Width
::-webkit-scrollbar {
    width: 8px;
}

// Bar
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px var(--white);
    border: solid 3px transparent; // acts as margin
}

// Set color of all text to white
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
label,
li {
    color: var(--white) !important;
}