@import "bulma/bulma.sass";
@import '@fortawesome/fontawesome-free/scss/fontawesome';

:root{
    --white: #f8f8f8;
    --navy-blue-dark: #0a192f;
    --navy-blue: #00051F;
    --navy-blue-light: #082b57;
}

html {
    background-color: var(--navy-blue);
}